In [24]:
from sqlalchemy import create_engine
import pandas as pd

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text

In [2]:
# base for table classes
Base = declarative_base()

C:\Users\cejs0\AppData\Local\Temp\ipykernel_10944\1698572912.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
# class -> musí přesně odpovídat tabulce v databázi
class Mesta(Base):
    # název tabulky - stejný
    __tablename__ = 'mesta'

    # sloupce a datové typy - stejné
    id = Column(Integer, primary_key=True)
    nazev = Column(String)
    populace = Column(Integer)
    zaplavy = Column(Integer)

    # klasický init -> když chci založit nový záznam, ať mám všechno
    def __init__(self, nazev, populace, zaplavy):
        self.nazev = nazev
        self.populace = populace
        self.zaplavy = zaplavy

In [8]:
# sample class mapping table from database
class Starostove(Base):
    __tablename__ = 'starostove'

    # fields and their types
    idstarostove = Column(Integer, primary_key=True)
    jmeno = Column(String)
    prijmeni = Column(String)
    vek = Column(Integer)
    mesta_id = Column(Integer)

    def __init__(self, jmeno, prijmeni, vek, mesta_id):
        self.jmeno = jmeno
        self.prijmeni = prijmeni
        self.vek = vek
        self.mesta_id = mesta_id

In [5]:
# připojení na db - odpovídá "mysql.connector.connect"
engine = create_engine('mysql+pymysql://root:root@localhost/nase_db')
# sessions -> odpovídá kurzoru
Session = sessionmaker(bind=engine)
session = Session()

In [9]:
# bez použití sql -> vytvořím objekt podle třídy starosta -> propíše se do databáze po commitu
starosta = Starostove('Michal', "Maliszewski", 31, 7)
session.add(starosta)

In [10]:
mesto = Mesta('Brno', 400000, 0)
session.add(mesto)

In [11]:
# provést změny na databázi
session.commit()

In [30]:
# načtení dat pomocí orm
with engine.connect() as con:
    query = f"SELECT * FROM mesta;"
    data = con.execute(text(query))

In [31]:
# zpracuj výsledky -> názvy sloupců z sql describe a data z sql select
tabulka = pd.DataFrame.from_records(data)
tabulka

     0           1       2  3
0    1       Krnov   24000  1
1    2       Opava   80000  1
2    4     Havířov   90000  1
3    5        Test   10000  0
4    6        Test   10000  0
5    7  Prachatice   20000  0
6    8   Karlovice    3000  1
7    9   Karlovice    3000  1
8   10    Brantice    3000  1
9   11        Brno  400000  0
10  12        Brno  400000  0
11  13        Brno  400000  0
12  14        Brno  400000  1