In [1]:
import pandas as pd
import mysql.connector

In [2]:
# připojit k databázi - db object pro referenci na připojení
db = mysql.connector.connect(
  host="localhost", # server - u nás na PC localhost, jinak např. https://svatky.adresa.info/
  user="root", # přihlášení
  password="root",
  database="car_rental" # výběr schématu/db -> odpovídá sql: use nase_db;
)
# cursor -> object, přes který provádím sql příkazy pomocí execute
cursor = db.cursor()

In [3]:
sql = """select clients.first_name, clients.last_name, 
avg(bookings.total_amount) as 'Average_reservations_price', 
count(bookings.car_id) as 'Number_of_rented_cars'
from bookings
left join clients on
bookings.client_id=clients.client_id
group by bookings.client_id
having Number_of_rented_cars > 1
order by Number_of_rented_cars desc;
"""

In [4]:
tabulka = pd.read_sql(sql, db)
tabulka

C:\Users\cejs0\AppData\Local\Temp\ipykernel_10940\1114324069.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tabulka = pd.read_sql(sql, db)

  first_name last_name  Average_reservations_price  Number_of_rented_cars
0       Anna      Inna                       448.0                      5
1     Damian      Papa                       780.0                      4
2      Marek    Troska                      1400.0                      2