In [1]:
import pandas as pd
import mysql.connector

In [17]:
# připojit k databázi - db object pro referenci na připojení
db = mysql.connector.connect(
  host="localhost", # server - u nás na PC localhost, jinak např. https://svatky.adresa.info/
  user="root", # přihlášení
  password="root",
  database="vs_zkouska" # výběr schématu/db -> odpovídá sql: use nase_db;
)
# cursor -> object, přes který provádím sql příkazy pomocí execute
cursor = db.cursor()

In [18]:
sql = f"show columns from student;"
cursor.execute(sql)
vysledek = cursor.fetchall()

In [19]:
vysledek

[('idstudent', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('jmeno', 'varchar(45)', 'NO', '', None, ''),
 ('prijmeni', 'varchar(45)', 'NO', '', None, ''),
 ('vek', 'int', 'NO', '', None, '')]

### Naplnit daty

In [5]:
from faker import Faker
from random import randint

In [6]:
fake = Faker()
kolik = 100
lide = []
for i in range(kolik):
    full_name = fake.name()
    jmeno = full_name.split(" ")[0]
    prijmeni = full_name.split(" ")[-1]
    vek = randint(19, 28)
    lide.append([jmeno, prijmeni, vek])

In [10]:
def vygeneruj_nahodne_lidi(pocet, vek_od=18, vek_do=28):
    """
    vezme na vstupu počet lidí k vygenerování a vrátí list, kde jednotlivé prvky jsou listy se 3 hodnotami
    a to jméno, příjmení a věk
    """
    # z knihovny faker vytvoř generátor náhodných lidí
    fake = Faker()
    # list pro ukládání lidí
    lide = []
    # zopakuj pocet krát generování člověka
    for i in range(pocet):
        # dej mi plné jméno náhodného člověka
        full_name = fake.name()
        # plné jméno je ve formátu 'jmeno prijmeni' -> rozděl text podle mezery, kdy první hodnota je jméno a druhá příjmení
        jmeno = full_name.split(" ")[0]
        prijmeni = full_name.split(" ")[-1]
        # vygeneruj náhodný věk
        vek = randint(vek_od, vek_do)
        # přidej do listu lidé všechny informace jako list
        lide.append((jmeno, prijmeni, vek))
    return lide

In [11]:
studenti = tuple(vygeneruj_nahodne_lidi(100))

sql = "INSERT INTO student (jmeno, prijmeni, vek) VALUES "

# constructing sql statment with multiple row values
for row in studenti:
    sql += "('{}','{}','{}'),".format(row[0], row[1], row[2])

sql = sql[:-1]

try:
  cursor.execute(sql)
  db.commit()
  print("Úspěch")
except Exception as error:
  print(f"Error: {error}")

(('John', 'Bradford', 19),
 ('Kelly', 'Cooper', 21),
 ('Elizabeth', 'Gonzalez', 24),
 ('David', 'Smith', 23),
 ('Abigail', 'Fowler', 25),
 ('Renee', 'Burns', 22),
 ('Jessica', 'James', 24),
 ('Sierra', 'Olsen', 24),
 ('Margaret', 'Stevens', 21),
 ('Elizabeth', 'Mckenzie', 22),
 ('Michael', 'Henderson', 24),
 ('Joseph', 'Perez', 22),
 ('Eric', 'Fernandez', 24),
 ('Laura', 'Poole', 19),
 ('Jennifer', 'Simmons', 22),
 ('Beth', 'Mcdaniel', 25),
 ('Stephanie', 'Sexton', 19),
 ('Leslie', 'Mitchell', 28),
 ('Samantha', 'Simon', 20),
 ('Natalie', 'Flores', 28),
 ('Christina', 'Singleton', 20),
 ('Angel', 'Brooks', 19),
 ('Charles', 'Gould', 21),
 ('John', 'Terrell', 19),
 ('Justin', 'Flores', 22),
 ('Alejandro', 'Jimenez', 26),
 ('Charles', 'Miller', 19),
 ('Amanda', 'Hernandez', 24),
 ('Christopher', 'Clayton', 21),
 ('Jennifer', 'Smith', 26),
 ('Jennifer', 'Riley', 20),
 ('Denise', 'Fleming', 25),
 ('Brandon', 'Dunn', 28),
 ('Caitlin', 'Keller', 18),
 ('Robert', 'Benjamin', 18),
 ('Linda', 'Simon', 21),
 ('Cindy', 'Rowland', 19),
 ('Adam', 'Barnett', 18),
 ('Leslie', 'Griffith', 27),
 ('Eugene', 'Harris', 20),
 ('Logan', 'Bishop', 28),
 ('Olivia', 'Stewart', 28),
 ('Haley', 'MD', 21),
 ('Brandon', 'Clark', 28),
 ('Dwayne', 'Li', 24),
 ('Anthony', 'Lambert', 18),
 ('John', 'Scott', 21),
 ('David', 'Mullins', 20),
 ('Amanda', 'Sanders', 23),
 ('Dr.', 'Taylor', 22),
 ('Beth', 'Carlson', 24),
 ('Michael', 'Blevins', 18),
 ('Ariel', 'Davies', 22),
 ('Samantha', 'Hughes', 20),
 ('Elizabeth', 'Rodriguez', 19),
 ('Howard', 'Gonzalez', 28),
 ('Patricia', 'MD', 28),
 ('Adrian', 'Gomez', 20),
 ('Megan', 'Hopkins', 26),
 ('Megan', 'Pittman', 19),
 ('Tammy', 'Jones', 28),
 ('James', 'Brown', 21),
 ('Michael', 'Williams', 22),
 ('David', 'Schroeder', 18),
 ('Dr.', 'Schwartz', 22),
 ('Christian', 'Avila', 20),
 ('Jessica', 'Hart', 25),
 ('Robert', 'Hamilton', 22),
 ('Miguel', 'Spencer', 22),
 ('Nicole', 'Owens', 26),
 ('Charles', 'Lopez', 21),
 ('David', 'Holland', 23),
 ('James', 'Watkins', 21),
 ('Joan', 'Barnett', 23),
 ('Samantha', 'Lambert', 23),
 ('Heather', 'Lawson', 19),
 ('Jonathan', 'Barajas', 26),
 ('Patrick', 'Castillo', 19),
 ('Thomas', 'Robinson', 21),
 ('Brittany', 'Brown', 23),
 ('Richard', 'Boyd', 23),
 ('Jeffery', 'Hunter', 23),
 ('Kristina', 'Davis', 19),
 ('Edward', 'Anderson', 25),
 ('Sophia', 'Pierce', 25),
 ('Sheena', 'Guzman', 27),
 ('Stephanie', 'Brewer', 27),
 ('Jeffrey', 'Morgan', 28),
 ('Victoria', 'Castro', 21),
 ('Jason', 'Johns', 18),
 ('Daniel', 'Smith', 23),
 ('Spencer', 'Jackson', 25),
 ('Katie', 'Ward', 28),
 ('Matthew', 'Huber', 18),
 ('Jonathan', 'Marsh', 24),
 ('Garrett', 'Wheeler', 25),
 ('Lisa', 'Ortiz', 19),
 ('Joshua', 'Nelson', 27),
 ('Sara', 'Gutierrez', 20),
 ('Mark', 'Reyes', 28))

In [33]:
ucitele = tuple(vygeneruj_nahodne_lidi(10, 25, 80))

sql = "INSERT INTO ucitel (jmeno, prijmeni, vek) VALUES "

# constructing sql statment with multiple row values
for row in ucitele:
    sql += "('{}','{}','{}'),".format(row[0], row[1], row[2])

sql = sql[:-1]

try:
  cursor.execute(sql)
  db.commit()
  print("Úspěch")
except Exception as error:
  print(f"Error: {error}")

Úspěch